/* BODY */

body {
    background-image: url("../images/second_bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    color: #fff;
    font-family: 'Open Sans', sans-serif;
    margin: 0;
}

h1 {
    border-bottom: 2px solid #F6F6F7;
    padding-bottom: 10px;
    text-align: left;
}

/* LOGO N NAV */

.nav {
    display: flex;
    width: 90%;
    justify-content: space-between;
    align-items: center;
    margin: 40px auto 0;

}


.logo {
    width: 50px;
    height: 50px;
}
.nav-list {
    width: 50%;
    display: flex;
    /* margin: 0 auto; */
    justify-content: center;
    border-radius: 5px;
    padding: 0;
}
.li {
    width: 110px;
    list-style-type: none;
    padding: 16px 16px;
    transition: background-color 300ms ease-in-out 40ms;
}
ul .li:not(:last-child) {
    border-right: 1px solid #F6F6F7;

}

.li:hover {
   background-color: rgba(14, 11, 219, 0.2); 
}
a {
    text-decoration: none;
    color: #fff;
}


/* contact and socials*/
.contacts {
    background-color: rgba(14, 14, 14, 0.5);
    display: flex;
    flex-direction: column;
    justify-content: space-between;    
    width: 80%;
    height: auto;
    margin: 120px auto;
    overflow: hidden;
    
    
    
}

.description {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80%;
    margin: 0;
    
    
}

.about-social {
    width: 100%;
    text-align: left;
    text-justify: inter-word;
    margin-left: 100px;
    margin-bottom: 20px;    
}

.contact {
    list-style-type: none;
    padding-left: 20px;
}

span {
    font-weight: 600;

}

.main-socials  {
    text-align: right;
    width: 80%;
    margin-left: 0;
    margin-right: 50px;
    margin: 0 auto 20px;
}

/* socials styling and icons */
.main-socials > h1 {
    text-align: right;
    margin-bottom: 14px;
}

.socials {
    list-style-type: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin: 0;
}
.socials > li {
    width: 2rem;
    height: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
    padding: 4px 3px 2px;
    border-radius: 2px;
    text-align: center;
    transition: all 0.5s ease-in-out 0.1s;
}
.socials > li:hover  {
    background-color:  rgba(149, 200, 211, 1);
       
}
.socials > li > a > i{
    text-align: center;
    padding-top: 8px;
    width: 2.27rem;
    height: 2rem;
    transition: all 0.5s ease-in-out 0.1s; 

}

i:hover {
    color: rgba(52, 117, 119, 1);
}


/* footer */
.footer {
    width: 100%;
    height: auto;
    margin-top: 100px;
    padding: 20px 0;
    background-color: rgba(14, 14, 14, 0.56);
}

.footer > p {
    letter-spacing: 1px;
    font-size: 14px;
    color: #dcdcdd;
    margin: 0;
    text-align: center;
}

body::-webkit-scrollbar {
    width: 10px;               /* width of the entire scrollbar */
  }
  
  body::-webkit-scrollbar-track {
    background: black;        /* color of the tracking area */
  }
  
  body::-webkit-scrollbar-thumb {
    background-color: #F6F6F7;    /* color of the scroll thumb */
    border-radius: 20px;       /* roundness of the scroll thumb */
    border: 3px solid #F6F6F7;  /* creates padding around scroll thumb */
  }