
/* BODY */

body {
    background-image: url("../images/third_bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    color: #fff;
    font-family: 'Open Sans', sans-serif;
    margin: 0;
}

h1 {
    border-bottom: 2px solid #F6F6F7;
    padding-bottom: 10px;
    text-align: left;
}

/* LOGO N NAV */

.nav {
    display: flex;
    width: 90%;
    justify-content: space-between;
    align-items: center;
    margin: 40px auto 0;

}

.logo {
    width: 50px;
    height: 50px;
}
.nav-list {
    width: 50%;
    display: flex;
    justify-content: center;
    border-radius: 5px;
    padding: 0;
}

.li {
    width: 110px;
    list-style-type: none;
    padding: 16px 16px;
    transition: background-color 300ms ease-in-out 40ms;
    
}
ul .li:not(:last-child) {
    border-right: 1px solid #F6F6F7;

}
ul li:last-child {
    border-bottom: 0 solid #F6F6F7;
}

.li:hover {
   background-color: rgba(14, 11, 219, 0.2); 
}
a {
    text-decoration: none;
    color: #fff;
}

/* media queries for nav n logo */

@media (max-width: 480px) {
    /* CSS code for smaller screens */

    .nav {
        display: flex;
        width: 90%;
        align-items: flex-start;
        padding-top: 24px;
        
    }
    .logo {
        width: auto;
        align-items: flex-start;
        
    }
    .nav-list {
        width: 50%;
        display: flex;
        flex-direction: column;
        margin: 0;
        justify-content: center;
        align-items: flex-end;
        
    }
    .li {
        background-color: rgba(14, 14, 14, 0.5);
    }
    ul .li {
        margin: 2px;
        border-right: 1px solid #F6F6F7;
    }
  }
  @media (min-width: 481px) and (max-width: 768px) {
    /* CSS code for medium-sized screens */
    .nav {
        display: flex;
        width: 90%;
        align-items: flex-start;
        padding-top: 24px;
        
    }
    
    .logo {
        width: auto;
        align-items: flex-start;
        
    }
    .nav-list {
        width: 50%;
        display: flex;
        flex-direction: column;
        margin: 0;
        justify-content: center;
        align-items: flex-end;
        
    }
    .li {
        background-color: rgba(14, 14, 14, 0.5);
        text-align: justify;
    }
    ul .li {
        margin: 2px;
        border-right: 1px solid #F6F6F7;
    }
    
  }
  @media (min-width: 769px) and (max-width: 1024px) {
    /* CSS code for medium-sized to larger screens */
    .nav {
        display: flex;
        width: 90%;
        align-items: center;
        padding-top: 24px;
        
    }

    .logo {
        width: auto;
        align-items: flex-start;
        
    }
    .nav-list {
        width: 50%;
        display: flex;
        margin-right: 10px;
        justify-content: center;
        align-items: flex-end;
        
    }
    
  }
/* media queries for nav end */


  
/* introduction n hobbies*/
.introduction {
    background-color: rgba(14, 14, 14, 0.5);
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 80%;
    height: auto;
    margin: 120px auto;
}
.profile {
    width: 40%;
    margin: 80px auto;
}

#profile-pic {
    width: 100%;
    height: 100%;
    display: block;

}
.profile-2 {
   display: none;
}

.description {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 40%;
    margin: 80px auto;
    
}

.Hobbies, .about-me, .about-me > .about {
    width: 100%;
    margin: auto;
    text-align: left;

}

.list {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    align-self: center;
    width: 100%;

}
.list > li {
    margin: 0 20px 20px;
    padding-top: 16px;
   
}
/* media queries for bio */
@media (max-width: 480px) {
    /* CSS code for smaller screens */
    #profile-pic {
        width: 100%;
        height: 100%;
        display: none;
    
    }
    .profile-2 {
        width: 100%;
        height: 100%;
       display: block;
    }
    .profile {
        width: 50%;
        margin: 50px auto 40px;
    }
    .introduction {
        background-color: rgba(14, 14, 14, 0.5);
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        flex-wrap: wrap;
        width: 80%;
        height: auto;
        margin: 120px auto;

    }

    .description {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        width: 80%;
        margin: 20px auto;
        
    }

    .description h1 {
        font-size: 1.5rem;
    }
    .description .about,  li{
        font-size: 15px;
        line-height: 22.5px;
        text-align: justify;
        text-justify: inter-word;
    }
    .Hobbies {
        margin-top: 30px;
        
    
    }

  }
  @media (min-width: 481px) and (max-width: 768px) {
    /* CSS code for medium-sized screens */
    #profile-pic {
        width: 100%;
        height: 100%;
        display: none;
    
    }
    .profile-2 {
        width: 100%;
        height: 100%;
       display: block;
    }
    .profile {
        width: 50%;
        margin: 50px auto 40px;
    }
    .introduction {
        background-color: rgba(14, 14, 14, 0.5);
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        flex-wrap: wrap;
        width: 80%;
        height: auto;
        margin: 120px auto;

    }

    .description {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        width: 80%;
        margin: 20px auto;
        
    }

    .description h1 {
        font-size: 1.5rem;
    }
    .description .about, li{
        font-size: 15px;
        line-height: 22.5px;
        text-align: justify;
        text-justify: inter-word;
    }
    .Hobbies {
        margin-top: 30px;
        
    
    }
  }
  @media (min-width: 769px) and (max-width: 1024px) {
    /* CSS code for medium-sized to larger screens */
    #profile-pic {
        width: 100%;
        height: 100%;
        display: none;
    
    }
    .profile-2 {
        width: 100%;
        height: 100%;
       display: block;
    }
    .profile {
        width: 50%;
        margin: 50px auto 40px;
    }
    .introduction {
        background-color: rgba(14, 14, 14, 0.5);
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        flex-wrap: wrap;
        width: 80%;
        height: auto;
        margin: 120px auto;

    }

    .description {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        width: 80%;
        margin: 20px auto;
        
    }

    .description h1 {
        font-size: 1.8rem;
    }
    .description .about, li{
        font-size: 15px;
        line-height: 22.5px;
        text-align: justify;
        text-justify: inter-word;
    }
    .Hobbies {
        margin-top: 30px;
        
    
    }
  }

  /* media queries for bio end */
/* footer */
.footer {
    width: 100%;
    height: 30px;
    margin-top: 100px;
    padding: 20px 0;
    background-color: rgba(14, 14, 14, 0.56);
}



.footer > p {
    letter-spacing: 1px;
    font-size: 14px;
    color: #dcdcdd;
    margin: 0;
    text-align: center;
}

body::-webkit-scrollbar {
    width: 10px;               /* width of the entire scrollbar */
  }
  
  body::-webkit-scrollbar-track {
    background: black;        /* color of the tracking area */
  }
  
  body::-webkit-scrollbar-thumb {
    background-color: #F6F6F7;    /* color of the scroll thumb */
    border-radius: 20px;       /* roundness of the scroll thumb */
    border: 3px solid #F6F6F7;  /* creates padding around scroll thumb */
  }