/* @font-face {
    font-family: opensans;
    src: url(OpenSans-SemiBold.ttf);
    src: url(OpenSans-Regular.ttf);
} */

/* BODY */
body {
    background-image: url("../images/third_bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    color: #fff;
    font-family: 'Heebo', sans-serif;
    margin: 0;
}

/* LOGO */
.logo-container {
    width: 100%;
    height: auto;
    margin-top: 100px;

}

.logo {
    width: 200px;
    height: 200px;
}

/* BIO N SUBLINE TEXT */

.bio {
    display: flex;
    width: 50%;
    flex-direction: column;
    align-items: center;
    margin: 32px auto 0;
    padding: 24px;
    border-top: 2px solid #F6F6F7;
    border-bottom: 2px solid #F6F6F7;
}

h1 {
    margin: 0;
}

.subline {
    width: 100%;
    font-weight: lighter;
}

/* NAVIGATION BAR */
.nav {
    width: 50%;
    margin: 50px auto 0;
    
}
.nav-list {
    width: 100%;
    display: flex;
    margin: 0 auto;
    justify-content: center;
    border: 1px solid #F6F6F7;
    border-radius: 5px;
    padding: 0;
}
 li {
    width: 6.875em;
    list-style-type: none;
    padding: 16px 16px;
    font-size: 1rem;
    transition: background-color 300ms ease-in-out 40ms;
}

ul li:not(:last-child) {
    border-right: 1px solid #F6F6F7;

}

li:hover {
   background-color: rgba(14, 11, 219, 0.2); 
}
a {
    text-decoration: none;
    color: #fff;
}

/* media queries */

@media (max-width: 480px) {
    .nav {
        width: 90%;
        margin: 50px auto 0;
        
    }
    .nav-list {
        width: 100%;
        display: flex;
        margin: 0 auto;
        border: 1px solid #F6F6F7;
        justify-content: center;
        
    }
     li {
        width: 6.875rem;
        list-style-type: none;
        padding: 16px 10px;
        font-size: 0.77rem;
    }
    ul li:not(:last-child) {
        border-right: 1px solid #F6F6F7;
    
    }
    
    a {
        text-decoration: none;
        color: #fff;
    }
    
  }
  @media (min-width: 481px) and (max-width: 768px) {
    .nav {
        width: 90%;
        margin: 50px auto 0;
        
    }
    .nav-list {
        width: 100%;
        display: flex;
        margin: 0 auto;
        border: 1px solid #F6F6F7;
        justify-content: center;
        
    }
     li {
        width: 6.875rem;
        list-style-type: none;
        padding: 16px 10px;
        font-size: 0.875rem;
    }
    ul li:not(:last-child) {
        border-right: 1px solid #F6F6F7;
    
    }
    
    a {
        text-decoration: none;
        color: #fff;
    }
  }
  @media (min-width: 769px) and (max-width: 1024px) {
    .nav {
        width: 70%;
        margin: 50px auto 0;
        
    }
    .nav-list {
        width: 100%;
        display: flex;
        margin: 0 auto;
        border: 1px solid #F6F6F7;
        justify-content: center;
        
    }
     li {
        width: 6.875rem;
        list-style-type: none;
        padding: 16px 16px;
        font-size: 1rem;
    }
    ul li:not(:last-child) {
        border-right: 1px solid #F6F6F7;
    
    }
    
    a {
        text-decoration: none;
        color: #fff;
    }
  }

  /* media queries end */
  
/* FOOTER */

.footer {
    width: 100%;
    height: auto;
    margin-top: 100px;
    padding: 20px 0;
    background-color: rgba(14, 14, 14, 0.56);
}

.footer > p {
    letter-spacing: 1px;
    font-size: 14px;
    color: #dcdcdd;
    margin: 0;
}

body::-webkit-scrollbar {
    width: 10px;               /* width of the entire scrollbar */
  }
  
  body::-webkit-scrollbar-track {
    background: black;        /* color of the tracking area */
  }
  
  body::-webkit-scrollbar-thumb {
    background-color: #F6F6F7;    /* color of the scroll thumb */
    border-radius: 20px;       /* roundness of the scroll thumb */
    border: 3px solid #F6F6F7;  /* creates padding around scroll thumb */
  }


  