/* BODY */
*, ::before, ::after{
    box-sizing: border-box;
}

body {
    background-image: url("../images/first_bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    color: #fff;
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    
}

/* media queiries for body */
/* Styles for screens up to 480px */
@media (width < 480px), (width > 768px), (max-width: 1024px)  {
    /* CSS code for smaller, medium and larger screens */
    body {
        background-image: url("../images/first_bg.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
        
        
    }
  }
  
  
  

h1 {
    border-bottom: 2px solid #F6F6F7;
    padding-bottom: 10px;
    text-align: left;
    width: 90%;
    margin: 40px 40px 20px;
}

/* LOGO N NAV */

.nav {
    display: flex;
    width: 90%;
    justify-content: space-between;
    align-items: center;
    margin: 40px auto 0;

}


.logo {
    width: 50px;
    height: 50px;
}
.nav-list {
    width: 50%;
    display: flex;
    /* margin: 0 auto; */
    justify-content: center;
    border-radius: 5px;
    padding: 0;
    
}
.li {
    width: 110px;
    list-style-type: none;
    padding: 16px 16px;
    transition: background-color 300ms ease-in-out 40ms;
}
ul .li:not(:last-child) {
    border-right: 1px solid #F6F6F7;

}

.li:hover {
   background-color: rgba(14, 11, 219, 0.2); 
}
a {
    text-decoration: none;
    color: #fff;
    
}

/* media queries for nav n logo */

@media (max-width: 480px) {
    /* CSS code for smaller screens */

    .nav {
        display: flex;
        width: 90%;
        align-items: flex-start;
        padding-top: 24px;
        
    }
    .logo {
        width: auto;
        align-items: flex-start;
        
    }
    .nav-list {
        width: 50%;
        display: flex;
        flex-direction: column;
        margin: 0;
        justify-content: center;
        align-items: flex-end;
        
    }
    .li {
        background-color: rgba(14, 14, 14, 0.5);
        text-align: justify;
    }
    ul .li {
        margin: 2px;
        border-right: 1px solid #F6F6F7;
    }
    a {
        display: block;
        text-decoration: none;
        color: #fff;
        width: 115px;
        height: 25px;
        
    }
  }
  @media (min-width: 481px) and (max-width: 768px) {
    /* CSS code for medium-sized screens */
    .nav {
        display: flex;
        width: 90%;
        align-items: flex-start;
        padding-top: 24px;
        
    }
    
    .logo {
        width: auto;
        align-items: flex-start;
        
    }
    .nav-list {
        width: 50%;
        display: flex;
        flex-direction: column;
        margin: 0;
        justify-content: center;
        align-items: flex-end;
        
    }
    .li {
        background-color: rgba(14, 14, 14, 0.5);
        text-align: justify;
    }
    ul .li {
        margin: 2px;
        border-right: 1px solid #F6F6F7;
    }
    
  }
  @media (min-width: 769px) and (max-width: 1024px) {
    /* CSS code for medium-sized to larger screens */
    .nav {
        display: flex;
        width: 90%;
        align-items: center;
        padding-top: 24px;
        
    }

    .logo {
        width: auto;
        align-items: flex-start;
        
    }
    .nav-list {
        width: 50%;
        display: flex;
        margin-right: 10px;
        justify-content: center;
        align-items: flex-end;
        
    }
    
  }
/* media queries for nav end */


/* projects*/
.projects {
    background-color: rgba(14, 14, 14, 0.5);
    width: 80%;
    height: auto;
    margin: 120px auto;
    overflow: hidden;
    border-radius: 10px;
    
    
}
.myproject {
    display: flex;
    flex-direction: column;
    padding: 0 30px;
    
    /* justify-content: space-between;
    align-items: center;
    width: 90%;
    height: 400px;
    padding: 0 30px;
    margin: 0 auto;
    overflow-x: scroll;
    overflow-y: hidden; */ 
}
/* Mr pantry styling */
.mrpantry{
    display: flex;
    margin-top: 20px;
    margin-bottom: 40px;
    justify-content: space-between;
    width: 100%;

}
.pantry_img_container {
    width: 50%;
    border-radius: 20px; 
}
.pantry_img{
    width: 100%;
    border-radius: 10px;
}
.describe_Pantry{
    width: 45%;
    text-align:justify
    
}
.design_links{
    display: flex;
    width: 60%;
    margin: 0px;
    padding: 0px;
    justify-content: space-between;
}
.Pantry_name, .des_pantry, .des_muzik {
    letter-spacing: 0.2px; 
    line-height: 24px;
}

p.Rationale,
p.Final_design{
    padding: 0px;
    margin: 0px;
    display: inline-block;
    letter-spacing: 0.6px;
    
    
}
p.Rationale a,
p.Final_design a{
    color: rgb(199, 112, 6);
    letter-spacing: 2%;
}
.tags{
    font-size: 14px;
    font-weight: 100;
    letter-spacing: 0.6px;
}
/* Muzik styling */
.Muzik{
    display: flex;
    margin-bottom: 40px;
    justify-content: space-between;
    width: 100%;

}
.describe_muzik{
    width: 45%;
    text-align:justify
}
.des_muzik{
    font-weight: normal;
}

/* Styles for screens up to 480px */

/* media quieries for the projects sections including the paragraphs and heading */
@media (max-width: 480px), (max-width: 768px), (max-width: 1024px){
    /* CSS code for smaller screens */
    h1 {
        width: 80%;
        font-size: 1.7rem;
    }
    p {
        font-size: 0.9rem;
        width: 90%;
        text-align: justify;
        margin: 15px 0;
    }
    .Muzik  *, .mrpantry  * {
        width: 100%;
        height: auto;
    }

    .clothing:active, .virbank:active, .solopro:active {
        background-size: contain;
        background-position: center center; 
    }
    
    .men, .bnk, .naija {
    width: 250px;
    height: 200px;
    padding: 40px;
    object-fit: contain;
    transition: opacity 1s ease-in-out 0.02s;
}
.Muzik, .mrpantry{
    display: flex;
    flex-direction: column;
}
  }
  
 

/* scrimba nad behance */
.visit-more {
    margin: 50px 0 20px;
    font-size: 14px;
    letter-spacing: 1px;
    font-weight: normal;
}

span {
    font-weight: bold;
    font-size: 15px;
    
}
span > a {
    color: rgb(199, 112, 6);
}
/* Visit More */
@media (max-width: 480px), (max-width: 768px), (max-width: 1024px){
    .visit-more{
        padding: 0 30px;
    }
}
    /* CSS code for smaller screens */
/* rgba(52, 117, 119, 1) */
/* footer */
.footer {
    width: 100%;
    height: auto;
    margin-top: 100px;
    padding: 20px 0;
    background-color: rgba(14, 14, 14, 0.56);
}

.footer > p {
    letter-spacing: 1px;
    font-size: 14px;
    color: #dcdcdd;
    margin: 0;
    text-align: center;
}

/* scrollbar for body*/
body::-webkit-scrollbar {
    width: 10px;               /* width of the entire scrollbar */
  }
  
  body::-webkit-scrollbar-track {
    background: black;        /* color of the tracking area */
  }
  
  body::-webkit-scrollbar-thumb {
    background-color: #F6F6F7;    /* color of the scroll thumb */
    border-radius: 20px;       /* roundness of the scroll thumb */
    border: 3px solid #F6F6F7;  /* creates padding around scroll thumb */
  }

  /* scrollbar for myprojects*/
.myproject::-webkit-scrollbar {
    width: 10px;               /* width of the entire scrollbar */
    height: 8px;
  }
  
.myproject::-webkit-scrollbar-track {
    background: black;        /* color of the tracking area */
  }
  
.myproject::-webkit-scrollbar-thumb {
    background-color: #F6F6F7;    /* color of the scroll thumb */
    border-radius: 20px;       /* roundness of the scroll thumb */
    border: 3px solid #F6F6F7;  /* creates padding around scroll thumb */
  }