/* BODY */

body {
    background-image: url("../images/fourth_bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    color: #fff;
    font-family: 'Open Sans', sans-serif;
    margin: 0;
}

h1 {
    border-bottom: 2px solid #F6F6F7;
    padding-bottom: 10px;
    text-align: left;
    width: 90%;
    margin: 40px 50px 20px;
}

/* LOGO N NAV */

.nav {
    display: flex;
    width: 90%;
    justify-content: space-between;
    align-items: center;
    margin: 40px auto 0;

}


.logo {
    width: 50px;
    height: 50px;
}
.nav-list {
    width: 50%;
    display: flex;
    /* margin: 0 auto; */
    justify-content: center;
    border-radius: 5px;
    padding: 0;
}
.li {
    width: 110px;
    list-style-type: none;
    padding: 16px 16px;
    transition: background-color 300ms ease-in-out 40ms;
}
ul .li:not(:last-child) {
    border-right: 1px solid #F6F6F7;

}

.li:hover {
   background-color: rgba(14, 11, 219, 0.2); 
}
a {
    text-decoration: none;
    color: #fff;
}


/* professional skills*/
.skills {
    background-color: rgba(14, 14, 14, 0.5);
    display: flex;
    justify-content: space-between;    
    width: 80%;
    height: auto;
    margin: 120px auto;
    overflow: hidden;
    border-radius: 10px;
    
    
}
.prototyping, .web-design {
    width: 80%;
    height: auto;
    margin: 40px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
   
}

.skill-writeup {
    width: 60%;
    text-align: justify;
    text-justify: inter-word;
}

.figma, .web {
    width: 300px;
    height: 300px;
    /* border: 1px solid #F6F6F7; */
    border-radius: 8px ;
}

/* tools n softwares n soft skills */
.softwaresntool {
    background-color: rgba(14, 14, 14, 0.5);
    width: 80%;
    height: auto;
    margin: 50px auto;
    padding-top: 30px;
    padding-bottom: 30px;
    border-radius: 10px;
    overflow: hidden;
}
.d-tools, .soft {
    display: flex;
    margin: 10px;
    flex-wrap: wrap;
    font-size: 18px;
    font-weight: lighter;
}

.d-tools > li, .soft > li {
    margin: 20px;
}

.cv {
    
    width: 600px;
    margin: 30px auto 0;
}
 span {
    color: rgb(50, 125, 128);
    font-weight: bolder;
    font-size: 17px;
}

/* 
.description {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 40%;
    
}

.about-exp {
    text-align: justify;
    text-justify: inter-word;
    margin-left: 70px;
    margin-bottom: 20px;
    
}

.exp-img {
    width: 50%;
    height: auto;
    position: relative;
    right: 0;
    bottom: 0;
    background-image: url("../images/ninth_big_item.jpg");
    background-size: cover;
    filter: contrast(110%);
   
} */


/* footer */
.footer {
    width: 100%;
    height: auto;
    margin-top: 100px;
    padding: 20px 0;
    background-color: rgba(14, 14, 14, 0.56);
}

.footer > p {
    letter-spacing: 1px;
    font-size: 14px;
    color: #dcdcdd;
    margin: 0;
    text-align: center;
}

body::-webkit-scrollbar {
    width: 10px;               /* width of the entire scrollbar */
  }
  
  body::-webkit-scrollbar-track {
    background: black;        /* color of the tracking area */
  }
  
  body::-webkit-scrollbar-thumb {
    background-color: #F6F6F7;    /* color of the scroll thumb */
    border-radius: 20px;       /* roundness of the scroll thumb */
    border: 3px solid #F6F6F7;  /* creates padding around scroll thumb */
  }