/* BODY */

body {
    background-image: url("../images/fourth_bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    color: #fff;
    font-family: 'Open Sans', sans-serif;
    margin: 0;
}


h1 {
    border-bottom: 2px solid #F6F6F7;
    padding-bottom: 10px;
    text-align: left;
    width: 90%;
    margin: 40px 50px 20px;
}

/* LOGO N NAV */

.nav {
    display: flex;
    width: 90%;
    justify-content: space-between;
    align-items: center;
    margin: 40px auto 0;

}


.logo {
    width: 50px;
    height: 50px;
}
.nav-list {
    width: 50%;
    display: flex;
    /* margin: 0 auto; */
    justify-content: center;
    border-radius: 5px;
    padding: 0;
}
.li {
    width: 110px;
    list-style-type: none;
    padding: 16px 16px;
    transition: background-color 300ms ease-in-out 40ms;
}
ul .li:not(:last-child) {
    border-right: 1px solid #F6F6F7;

}

.li:hover {
   background-color: rgba(14, 11, 219, 0.2); 
}
a {
    text-decoration: none;
    color: #fff;
}


/* media queries for nav n logo */

@media (max-width: 480px) {
    /* CSS code for smaller screens */

    .nav {
        display: flex;
        width: 90%;
        align-items: flex-start;
        padding-top: 24px;
        
    }
    .logo {
        width: auto;
        align-items: flex-start;
        
    }
    .nav-list {
        width: 50%;
        display: flex;
        flex-direction: column;
        margin: 0;
        justify-content: center;
        align-items: flex-end;
        
    }
    .li {
        background-color: rgba(14, 14, 14, 0.5);
    }
    ul .li {
        margin: 2px;
        border-right: 1px solid #F6F6F7;
    }
  }
  @media (min-width: 481px) and (max-width: 768px) {
    /* CSS code for medium-sized screens */
    .nav {
        display: flex;
        width: 90%;
        align-items: flex-start;
        padding-top: 24px;
        
    }
    
    .logo {
        width: auto;
        align-items: flex-start;
        
    }
    .nav-list {
        width: 50%;
        display: flex;
        flex-direction: column;
        margin: 0;
        justify-content: center;
        align-items: flex-end;
        
    }
    .li {
        background-color: rgba(14, 14, 14, 0.5);
    }
    ul .li {
        margin: 2px;
        border-right: 1px solid #F6F6F7;
    }
    
  }
  @media (min-width: 769px) and (max-width: 1024px) {
    /* CSS code for medium-sized to larger screens */
    .nav {
        display: flex;
        width: 90%;
        align-items: center;
        padding-top: 24px;
        
    }

    .logo {
        width: auto;
        align-items: flex-start;
        
    }
    .nav-list {
        width: 50%;
        display: flex;
        margin-right: 10px;
        justify-content: center;
        align-items: flex-end;
        
    }
    
  }
/* media queries for nav end */

/* professional skills*/
.skills {
    background-color: rgba(14, 14, 14, 0.5);
    display: flex;
    justify-content: space-between;    
    width: 80%;
    height: auto;
    margin: 120px auto;
    overflow: hidden;
    border-radius: 10px;
    
    
}
.description {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    
    
}
.prototyping, .web-design {
    width: 80%;
    height: auto;
    margin: 40px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
   
}

.skill-writeup {
    width: 60%;
    text-align: justify;
    text-justify: inter-word;
}

.figma, .web {
    width: 35%;
    height: 40%;
    border-radius: 8px ;
}

/* tools n softwares n soft skills */
.softwaresntool {
    background-color: rgba(14, 14, 14, 0.5);
    width: 80%;
    height: auto;
    margin: 50px auto;
    padding-top: 30px;
    padding-bottom: 30px;
    border-radius: 10px;
    overflow: hidden;
}
.d-tools, .soft {
    display: flex;
    margin: 10px;
    flex-wrap: wrap;
    font-size: 18px;
    font-weight: lighter;
}

.d-tools > li, .soft > li {
    margin: 20px;
}

.cv {
    
    width: 90%;
    margin: 30px auto 0;
}
span {
    font-weight: bolder;
    color: rgba(52, 117, 119, 1);
}

/* media quieries start */
/* ------------------------------- */

/* ------------------------ first container of figma nd html --------------------------- */ 

@media (max-width: 480px) {
    /* CSS code for smaller screens */

    h1 {
        border-bottom: 2px solid #F6F6F7;
        padding-bottom: 10px;
        text-align: left;
        width: 80%;
        font-size: 1.5rem;
        margin: 40px 40px 20px;
    }
    .description {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        font-size: 0.9rem;
        
    }

    .prototyping, .web-design {
        width: 100%;
        height: auto;
        margin: 40px auto;
        flex-direction: column;
        display: flex;
        justify-content: space-between;
        align-items: center;
        
    }
    
    .figma, .web {
        width: 50%;
        height: 60%;
        border-radius: 8px ;
    }
    .skill-writeup {
        width: 80%;
        margin-top: 40px;
        text-align: justify;
        text-justify: inter-word;
        font-size: 0.85rem;
    }
    /* ------------------------ second container of skills --------------------------- */ 
    .d-tools > li, .soft > li {
        margin: 20px;
        font-size: 0.9rem;
        text-align: left;
    }
    
    .cv {
    
        width: 90%;
        margin: 30px auto 0;
        font-size: 1rem;
    }

  }
  
   /* ------------------------ medium screens --------------------------- */ 
  @media (min-width: 481px) and (max-width: 768px) {
    /* CSS code for medium-sized screens */
    h1 {
        border-bottom: 2px solid #F6F6F7;
        padding-bottom: 10px;
        text-align: left;
        width: 80%;
        font-size: 1.5rem;
        margin: 40px 40px 20px;
    }
    .description {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        font-size: 1rem;
        
    }

    .prototyping, .web-design {
        width: 100%;
        height: auto;
        margin: 40px auto;
        flex-direction: column;
        display: flex;
        justify-content: space-between;
        align-items: center;
        
    }
    
    .figma, .web {
        width: 50%;
        height: 60%;
        border-radius: 8px ;
    }
    .skill-writeup {
        width: 80%;
        margin-top: 40px;
        text-align: justify;
        text-justify: inter-word;
        font-size: 0.9rem;
    }
    /* ------------------------ second container of skills --------------------------- */ 
    .d-tools > li, .soft > li {
        margin: 20px;
        font-size: 1rem;
        text-align: left;
    }
    
    .cv {
    
        width: 90%;
        margin: 30px auto 0;
        font-size: 0.9rem;
    }

  }
  
  /* Styles for screens between 769px and 1024px */
  @media (min-width: 769px) and (max-width: 1024px) {
    /* CSS code for medium-sized to larger screens */
  }


/* footer */
.footer {
    width: 100%;
    height: auto;
    margin-top: 100px;
    padding: 20px 0;
    background-color: rgba(14, 14, 14, 0.56);
}

.footer > p {
    letter-spacing: 1px;
    font-size: 14px;
    color: #dcdcdd;
    margin: 0;
    text-align: center;
}

body::-webkit-scrollbar {
    width: 10px;               /* width of the entire scrollbar */
  }
  
  body::-webkit-scrollbar-track {
    background: black;        /* color of the tracking area */
  }
  
  body::-webkit-scrollbar-thumb {
    background-color: #F6F6F7;    /* color of the scroll thumb */
    border-radius: 20px;       /* roundness of the scroll thumb */
    border: 3px solid #F6F6F7;  /* creates padding around scroll thumb */
  }